<p id="notice"><%= notice %></p>

<p>
  <strong>Conteudo:</strong>
  <%= @mensagem.conteudo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @mensagem.autor %>
</p>

<%= link_to 'Edit', edit_mensagem_path(@mensagem) %> |
<%= link_to 'Back', mensagems_path %>
